@import "../../scss/variable.scss";
@import "../../scss/breakpoint.scss";

.my-shop {
    padding: 16px 0px;
    background-color: $grey-primary;

    &-main {
        padding: 26px 26px;
        background-color: $white;

        &-title {
            font-size: 28px;
            font-weight: normal;
        }

        &-manage {
            display: flex;
            margin-top: 26px;
            gap: 10px;

            &-sidebar {
                display: flex;
                gap: 26px;
                flex-direction: column;
                padding: 26px 0px;

                &-group {
                    display: flex;
                    gap: 12px;

                    &-icon {
                        width: 14px;
                    }

                    &-title {
                        text-decoration: none;
                        color: $grey-dark;
                    }
                }

                &-group-active {
                    color: $red-primary;

                    a {
                        color: $red-primary;
                    }
                }
            }

            &-content {
                flex: 1;
                padding: 16px 26px;
            }
        }
    }
}