@import "../../scss/variable.scss";
@import "../../scss/breakpoint.scss";

.product-list {
    padding: 20px 0px;

    &-main {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 24px 24px;

        @include tablet {
            grid-template-columns: auto auto;
            gap: 24px 24px;
        }

        @include phone {
            grid-template-columns: auto;
            gap: 12px 24px;
        }
    }

    &-divide-pages {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-top: 16px;

        &-button {
            padding: 4px 10px;
            border: 0;
            border-radius: 2px;
            background-color: $red-primary;
            color: $white;
            cursor: pointer;
        }
    }
}