@import "../../scss/variable.scss";
@import "../../scss/breakpoint.scss";

.image {
    width: 300;
}

.upload-img {
    margin: 0px auto 20px;
}

.upload-img-button {
    display: block;
    margin: 20px auto;
    padding: 10px 16px;
    border: 1px solid $grey-medium;
}

.upload-img-note {
    text-align: center;
    font-size: 14px;
}