@import "../../scss/variable.scss";
@import "../../scss/breakpoint.scss";

.step-btn {
    color: $red-primary !important;
}

.step-title>span>span:first-child svg circle {
    color: $red-primary !important;
}

.step-title>span>span:first-child svg {
    color: $red-primary !important;
}

.my-shop-step-3 {
    text-align: center;

    &-icon {
        color: $red-primary;

        path {
            font-size: 46px;
        }
    }
}